@font-face {

    font-family: 'Pixellari';
    src: url(Pixellari.ttf) format('truetype');
    font-size: normal;
   
}

@font-face {

    
    font-family: 'deltarune';
    src: url(deltarune.ttf) format('truetype');
    font-size: normal;
}

@font-face {

    
    font-family: '04B';
    src: url(04B.TTF) format('truetype');
    font-size: normal;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(133.08deg, #F4EAFE -9.57%, #F4EAFE 9.65%, #DDBDFC 33.67%, #CBB2FE 56.4%, #CBB2FE 141.65%);
    background-size: cover;

}



.quadrado {
    
    
    background: #CBB2FE;
    text-align: center;
    margin-top: 5%;
    margin: auto;
    border-radius: 100px 100px 100px 100px;
    width: 800px;
    height: 700px;
    border: 2px solid #757BC8;
    background: linear-gradient(133.08deg, #757BC8 -9.57%, #8E94F2 9.65%, #ADA7FF 33.67%, #BBADFF 56.4%, #CBB2FE 141.65%);
}

img {

    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    
}

h1 {
    padding: 10px;
    font-family: '04B';
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

h2 {
    font-family: 'Pixellari';
    padding: 10px;
    font-size: 25px;
    letter-spacing: 3px;
}

.sobre-mim {
    font-family: 'Pixellari';
    font-size: 15px;

}

div.row {
    display: flex;
    justify-content: center;

}


.spotify, .github, .linkedin, .behance, .instagram, .telegram {

    width: 60px;
    margin: 1px;
    position: relative;
    text-align: center;
    padding: 30px;
    
}


footer {
    font-family: 'deltarune';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}